.column-container {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem;
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.column-container.light {
  background-color: #f9f9f9;
  color: #333;
}

.column-container.dark {
  background-color: #2c2c2c;
  color: #ffffff; /* Make text white in dark mode */
}

.column-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-title {
  margin: 0;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.column-title.light {
  margin: 0;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}

.column-title.dark {
  margin: 0;
  color: #cfcdcd;
  font-size: 20px;
  cursor: pointer;
}

.column-cards {
  flex: 1;
  margin-bottom: 1rem;
  min-height: 50px;
}

.column-create-card-button {
  padding: 0.5rem 1rem;
  background-color: var(--success-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
